<nav>
    <div class="position-sticky pt-3 " style="height: 700px;">
        <a class="navbar-brand fw-bold col-md-3 col-lg-2 px-3 text-white" href="#" style="font-size:30px">Admin </a>
        <hr class="bg-light">
        <ul class="nav flex-column text-black">
            <li class="nav-item ">
                <a class="nav-link active fw-bold text-white font-weight-bold" aria-current="page" routerLink="/">

                    Trang chủ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold text-white font-weight-bold" routerLink="/admin/categories">

                    Danh mục
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-bold  font-weight-bold" routerLink="/admin/products">

                    Danh sách bài hát
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-bold font-weight-bold" routerLink="/admin/account">

                    Tài Khoản
                </a>
            </li>
        </ul>
    </div>
</nav>