<div>
    <header class="navbar navbar-dark sticky-top flex-row-reverse bg-secondary flex-md-nowrap p-0 shadow">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="#">Sign out</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
                <app-aside></app-aside>
            </div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Danh sách User</h1>
                </div>

                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">USER</th>
                                <th scope="col">ROL</th>
                                <th scope="col">CREATED AT</th>
                                <th scope="col">STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>quangduc15052001@gmail.com</td>
                                <td>admin</td>
                                <td>Jan 21, 2020</td>

                                <td>Active</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
</div>